header {
    background-color: #c96616;
    position: absolute;
    height: 60px;
    margin: -8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}



.header-logo {
    color: #fff;
    font-size: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
}


.main {
    min-height: 150px;
    position: relative;
    padding-bottom: 50px;
    box-sizing: border-box;

}

h2 {
    color: #444444;
    margin: 90px 0px 30px;
    text-align: center;
}

p {
    color: #444444;
    margin: 70px 0px 30px 0px;
    text-align: center;
}

.answer {
    color: #444444;
    margin: 10px 0px 30px 0px;
    text-align: center;
}

.image {
    width: 50%;
    display: block;
    margin: 30px auto 0px;
}

form {
    text-align: center;
}



footer {
    background-color: #1e3a88;
    width:100%;
    margin: -8px;
    position: absolute;
}



small {
    margin: 15px 25px;
    position: absolute;
    left: 0;
    bottom: 0;
}